language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6

env:
  global:
    - TIKA_VERSION="1.13"
    - TIKA_PATH=$HOME/tika
  matrix:
    - TYPO3_VERSION="~6.2.15"
    - TYPO3_VERSION="~7.6.9"

matrix:
  fast_finish: true
  exclude:
    - php: 5.3
      env: TYPO3_VERSION="~7.6.9"
    - php: 5.4
      env: TYPO3_VERSION="~7.6.9"

before_install:
  - composer self-update
  - composer --version

install: Tests/Build/bootstrap.sh
script: Tests/Build/cibuild.sh
after_script: Tests/Build/cleanup.sh

cache:
  directories:
    - $TIKA_PATH
    - $HOME/.composer/cache
