dist: bionic

language: php

services:
  - mysql
  - docker

php:
  - 7.2
  - 7.4

env:
  global:
    - TIKA_VERSION="1.24.1"
    - TIKA_PATH=$HOME/tika
    - EXT_SOLR_VERSION="dev-master"
    - TYPO3_DATABASE_NAME="typo3_ci"
    - TYPO3_DATABASE_HOST="127.0.0.1"
    - TYPO3_DATABASE_USERNAME="root"
    - TYPO3_DATABASE_PASSWORD=""
  matrix:
    - TYPO3_VERSION="^9.5"
    - TYPO3_VERSION="^10.4"

matrix:
  fast_finish: true

before_install:
  - composer self-update
  - composer --version
  - composer global require fabpot/php-cs-fixer
  - composer global require namelesscoder/typo3-repository-client

install:
  - Build/Test/bootstrap.sh
script:
  - Build/Test/cibuild.sh
after_script:
  - .Build/Web/typo3conf/ext/solr/Build/Test/publish_coverage.sh
  - Build/Release/ter_tag_uploader.sh
  - Build/Test/cleanup.sh

cache:
  directories:
    - $TIKA_PATH
    - $HOME/.composer/cache
