
<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:solr="http://typo3.org/ns/ApacheSolrForTypo3/Solr/ViewHelpers"
	f:schemaLocation="https://fluidtypo3.org/schemas/fluid-master.xsd">

	<p>
		Tika Mode:
		<f:switch expression="{configuration.extractor}">
			<f:case value="server">Server</f:case>
			<f:case value="jar">Jar</f:case>
			<f:case value="solr">Solr</f:case>
		</f:switch>

	</p>
	<p>
		Endpoint: {tikaService.endpointIdentifier}
	</p>

	<f:switch expression="{configuration.extractor}">
		<f:case value="server">
			<f:render partial="Service/Server" arguments="{server: tikaService, configuration: configuration}" />
		</f:case>
		<f:case value="jar">
			<f:render partial="Service/Jar" arguments="{jar: tikaService, configuration: configuration}" />
		</f:case>
		<f:case value="solr">
			<f:render partial="Service/Solr" arguments="{solr: tikaService, configuration: configuration}" />
		</f:case>
	</f:switch>
</div>
