
<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	f:schemaLocation="https://fluidtypo3.org/schemas/fluid-master.xsd">

	<div>
		<table>
			<tr>
				<td>Extracted content:</td>
				<td>
					<pre style="height: 200px; overflow:scroll;">{content}</pre>
				</td>
			</tr>

			<tr>
				<td>Detected Language:</td>
				<td>{language}</td>
			</tr>
			<f:for each="{metadata}" key="key" as="value">
				<tr>
					<td>{key}:</td>
					<td>{value}</td>
				</tr>
			</f:for>
		</table>
	</div>
</div>
